/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/*.vsidx
/ConsoleApp1/.vs/ConsoleApp1/v17/*.suo
/ConsoleApp1/.vs/ConsoleApp1/v17/*.json
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/*.pdb
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/*.json
/ConsoleApp1/ConsoleApp1/obj/*.props
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/*.cache
/ConsoleApp1/ConsoleApp1/obj/*.targets
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/*.pdb
/ConsoleApp1/ConsoleApp1/obj/*.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/*.editorconfig
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0
/ConsoleApp1/ConsoleApp1/obj
